<!DOCTYPE html>
<html>

<head>
    <title>Under construction</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <meta http-equiv="Content-Security-Policy" content="default-src *;">
</head>

<body>



    <div class="mainWindow">

        <nav>

            <div class="runners-container top">
                <div class="runner"></div>
            </div>

            <ul>
                <li><a href="#">Left 2</a></li>
                <li><a href="#">Left </a></li>
                <li><a class="fox" href="#"></a></li>
                <li><a href="#">Right </a></li>
                <li><a href="#">Right 2</a></li>
            </ul>

            <div class="runners-container bottom">

                <div class="runner"></div>

            </div>

        </nav>

    </div>
</body>

</html>