<!DOCTYPE html>
<html>
    <head>
        <title>Under construction</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
	    <meta http-equiv="Content-Security-Policy" content="default-src *;">
    </head>
    <body>
        <div class="mainWindow">
            <div class="nav">
                <div class="container">
                <div class="l2">
                    <a href="#">Left 2<span></span><span></span></a>
                </div>
                <div class="l1">
                    <a href="#">Left<span></span><span></span></a>
                </div>
                <!--<a href="#">-->
                <div class="fox"></div>
                    <span></span><span></span>
                <!--</a>-->
                <div class="r1">
                    <a href="#">Right<span></span><span></span></a>
                </div>
                <div class="r2">
                    <a href="#">Right 2<span></span><span></span></a>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
