<!DOCTYPE html>
<html>
    <head>
        <title>Under construction</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/construction_style.css">
	    <meta http-equiv="Content-Security-Policy" content="default-src *;">
    </head>
    <body>
        <div class="circle AnimatedCircle">
            <h2>Under construction</h2>
            <div class="container">
                <div class="loader"><span></span></div>
                <div class="fox"></div>
            </div>
        </div>
    </body>
</html>
